html,body{
	height:100%;
}

body {
	background: linear-gradient(#fffed0,#FFF8DC);
	background-repeat: no-repeat;
	height:100%;
	background-size: cover;
}

.row {
	display: flex;
}
.column{
/*	flex: 10%;
	padding:1em;*/
	margin:auto;
	text-align: center;
}

.cat1 {
	width:500px;
	height:420px;
/*	float:left;*/
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}
/*
.cat2 {
	width:500px;
	height:420px;
	float:right;
	margin: 0px 3em 1em 2.5em;
	text-align: center;
}*/
img:hover {
	border:1px double #ddd;
	box-shadow: 0 5px 12px #ccc;
	/*padding:10px;
 	margin:auto;*/
/*	margin:5px 10px 10px 5px;*/
/*	background:#ffffd6; */
 	background:#fffff0;
}
p {
	margin-top:1em;
	text-align:center;
	font-style: italic;
	font-size:1.5em;
}
.Cat_List {
	margin:auto;
	text-align: center;
}
a {
	padding:.5em;
	font-size:1.3em;
	text-decoration: none;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#37f9da;
}